<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Daftar Mahasiswa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5EC76B41D7A33D1009EBB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EC76C81D7A33D2009EBB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EC76D31D7A33D2009EBB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
